Repository adriangb/di: changes, and which pre-commit hooks are due for each by the changed paths.
All: lockfile, isort, black, flake8, mypy

.pre-commit-config.yaml:

exclude: "^.venv/.*"
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: "v4.0.1"
    hooks:
    -   id: trailing-whitespace
  - repo: local
    hooks:
    - id: lockfile
      name: check poetry.lock
      language: system
      entry: poetry lock --no-update
      files: ^pyproject.toml|poetry.lock$
      pass_filenames: false
    - id: isort
      name: isort
      language: system
      entry: poetry run isort
      types: [python]
    - id: black
      name: black
      language: system
      entry: poetry run black
      types: [python]
    - id: flake8
      name: flake8
      language: system
      entry: poetry run flake8
      types: [python]
    - id: mypy
      name: mypy
      language: system
      entry: poetry run mypy
      types: [python]
      pass_filenames: false

bump version
  pyproject.toml
Due: lockfile

use poetry stable
  poetry.lock
Due: lockfile

Update .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: none

Test on Python 3.11 (#76)
  .github/workflows/workflow.yaml
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Due: lockfile

remove unecessary optimization
  di/_utils/task.py
  di/container/_solving.py
Due: isort, black, flake8, mypy

remove sync_to_thread option
  di/dependant/_dependant.py
  di/executors/_async.py
  tests/test_execute.py
Due: isort, black, flake8, mypy

edit docs
  README.md
  di/dependant/_dependant.py
Due: isort, black, flake8, mypy

wip
  di/_utils/concurrency.py
  di/_utils/inspect.py
  di/concurrency.py
  tests/test_concurrency.py
  tests/test_execute.py
Due: isort, black, flake8, mypy

wip
  tests/test_concurrency.py
Due: isort, black, flake8, mypy

remove outdated comments
  di/container/_container.py
  di/container/_solving.py
Due: isort, black, flake8, mypy

wip
  di/_utils/concurrency.py
  di/_utils/task.py
  di/api/executor.py
  tests/test_concurrency.py
Due: isort, black, flake8, mypy

fix: bug with wire=False short circuiting too early
  di/dependant/_dependant.py
  pyproject.toml
  tests/test_solving.py
Due: lockfile, isort, black, flake8, mypy

pivot again
  di/container/_container.py
  di/container/_solving.py
  docs/scopes.md
  docs_src/default_scope.py
  tests/test_solving.py
Due: isort, black, flake8, mypy

minimize diff
  docs/scopes.md
  docs_src/inferred_scopes.py
  tests/docs/test_scopes_example.py
Due: isort, black, flake8, mypy

fix import
  di/container/_solving.py
Due: isort, black, flake8, mypy

fix caching
  di/container/_solving.py
Due: isort, black, flake8, mypy

fix bug
  di/container/_solving.py
Due: isort, black, flake8, mypy

feat: add hook to resolve unset scopes during solving (#77)
  di/_utils/types.py
  di/api/scopes.py
  di/container/_container.py
  di/container/_solving.py
  docs/scopes.md
  docs_src/default_scope.py
  pyproject.toml
  tests/docs/test_scopes_example.py
Due: lockfile, isort, black, flake8, mypy

clean up concurrency tests
  di/_utils/concurrency.py
  tests/test_concurrency.py
  tests/test_execute.py
Due: isort, black, flake8, mypy

chore: clean up async concurrency test
  tests/test_execute.py
Due: isort, black, flake8, mypy

docs: fix examples lines
  docs/cache.md
  docs/examples.md
  docs/solving.md
Due: none

Bump version to 0.70.1
  pyproject.toml
Due: lockfile

doc: fix line highlighting in examples (#81)
  docs/cache.md
  docs/examples.md
  docs/solving.md
  pyproject.toml
Due: lockfile

doc: add docstrings to classes
  di/api/solved.py
  di/container/_container.py
  di/dependant/_dependant.py
  di/executors/_async.py
  di/executors/_sync.py
Due: isort, black, flake8, mypy

doc: update markers link
  di/dependant/_dependant.py
Due: isort, black, flake8, mypy

doc: update Dependant argument docstrings
  di/dependant/_dependant.py
Due: isort, black, flake8, mypy

doc: update docstrings
  di/executors/_async.py
  di/executors/_sync.py
Due: isort, black, flake8, mypy

doc: use an App instance in the web framework example
  docs/examples.md
  docs_src/web_framework.py
  tests/docs/test_readme_example.py
Due: isort, black, flake8, mypy

fix test
  docs_src/web_framework.py
  tests/docs/test_readme_example.py
Due: isort, black, flake8, mypy

bump version to 0.70.2
  pyproject.toml
Due: lockfile

doc: use an App instance in the web framework example (#84)
  docs/examples.md
  docs_src/web_framework.py
  pyproject.toml
  tests/docs/test_readme_example.py
Due: lockfile, isort, black, flake8, mypy

doc: fix linting errors
  di/executors/_sync.py
  pyproject.toml
Due: lockfile, isort, black, flake8, mypy

doc: docstrings for container and bind_by_type
  di/container/_bind_by_type_hook.py
  di/container/_container.py
Due: isort, black, flake8, mypy

Update di/executors/_sync.py
  di/executors/_sync.py
Due: isort, black, flake8, mypy

doc: add docstrings to classes (#83)
  di/api/solved.py
  di/container/_bind_by_type_hook.py
  di/container/_container.py
  di/dependant/_dependant.py
  di/executors/_async.py
  di/executors/_sync.py
  pyproject.toml
Due: lockfile, isort, black, flake8, mypy

doc: add api interface
  docs/api.md
  mkdocs.yml
  poetry.lock
  pyproject.toml
Due: lockfile

minimize changes, fix tests
  di/_utils/concurrency.py
  di/_utils/inspect.py
  tests/test_concurrency.py
  tests/test_execute.py
  tests/test_task.py
Due: isort, black, flake8, mypy

add back tests
  tests/test_execute.py
Due: isort, black, flake8, mypy
