Repository adriangb/di: changes, and which pre-commit hooks are due for each by the changed paths.
All: lockfile, isort, black, flake8, mypy

lockfile:
  name: check poetry.lock
  language: system
  entry: poetry lock --no-update
  pass_filenames: false

isort:
  name: isort
  language: system
  entry: poetry run isort

black:
  name: black
  language: system
  entry: poetry run black

flake8:
  name: flake8
  language: system
  entry: poetry run flake8

mypy:
  name: mypy
  language: system
  entry: poetry run mypy
  pass_filenames: false

bump version
  pyproject.toml
Due: lockfile

feat: record dependency path in solving errors (#74)
  di/container/_scope_validation.py
  di/container/_solving.py
  di/container/_utils.py
  di/dependant/_dependant.py
  di/exceptions.py
  pyproject.toml
  tests/test_solving.py
Due: lockfile, isort, black, flake8, mypy

feat: check dependency marker return annotations against parameter
  di/_utils/inspect.py
  di/container/_bind_by_type_hook.py
  di/dependant/_dependant.py
  di/exceptions.py
  tests/test_dependency_cycles.py
  tests/test_wiring.py
  tests/test_wiring_annotated.py
Due: isort, black, flake8, mypy

cleanup
  di/_utils/inspect.py
  di/dependant/_dependant.py
  tests/test_wiring.py
Due: isort, black, flake8, mypy

Test on Python 3.11
  .github/workflows/workflow.yaml
Due: none

Update workflow.yaml
  .github/workflows/workflow.yaml
Due: none

move to tests
  .github/workflows/workflow.yaml
Due: none

doc: fix typos
  di/container/_solving.py
Due: isort, black, flake8, mypy

chore: minor simplifications in solving
  di/container/_solving.py
Due: isort, black, flake8, mypy

chore: refactor solving.py
  di/api/solved.py
  di/container/_solving.py
Due: isort, black, flake8, mypy

chore: add generics to di/container/_utils.py
  di/container/_utils.py
Due: isort, black, flake8, mypy

chore!: remove SolvedDependant.get_flat_subdependants()
  di/api/solved.py
  docs/solving.md
  docs_src/solved_dependant.py
  tests/test_get_flat_dependencies.py
  tests/test_solving.py
Due: isort, black, flake8, mypy

chore: fix typo in docs
  docs/solving.md
Due: none

fix: fix arbitrary inclusion of None as a valid scope during scope validation
  di/container/_scope_validation.py
  tests/test_execute.py
  tests/test_scoping.py
Due: isort, black, flake8, mypy

fix: bug in solving causing invalid solutions
  di/container/_solving.py
  docs_src/invalid_scope_dependance.py
  tests/test_solving.py
Due: isort, black, flake8, mypy

refactor: mantain BFS solving behavior
  di/container/_solving.py
Due: isort, black, flake8, mypy

feat: automatic scope inference
  di/api/scopes.py
  di/container/_scope_validation.py
  di/container/_solving.py
  tests/test_solving.py
Due: isort, black, flake8, mypy

lint & bump version
  pyproject.toml
  tests/test_solving.py
Due: lockfile, isort, black, flake8, mypy

green
  di/container/_scope_validation.py
  di/container/_solving.py
  di/container/_utils.py
  tests/test_dependency_cycles.py
  tests/test_solving.py
Due: isort, black, flake8, mypy

quote vars
  di/container/_solving.py
Due: isort, black, flake8, mypy

add comment on implementation
  di/container/_solving.py
Due: isort, black, flake8, mypy

add docs
  docs/scopes.md
  docs_src/inferred_scopes.py
Due: isort, black, flake8, mypy

move calc into branch
  di/container/_solving.py
Due: isort, black, flake8, mypy

clean up doc example
  docs/scopes.md
  docs_src/inferred_scopes.py
  tests/docs/test_scopes_example.py
Due: isort, black, flake8, mypy

fix test
  di/container/_solving.py
  docs_src/inferred_scopes.py
Due: isort, black, flake8, mypy

minimize changes
  di/api/scopes.py
  di/container/_solving.py
  docs/scopes.md
  docs_src/inferred_scopes.py
  tests/docs/test_scopes_example.py
  tests/test_solving.py
Due: isort, black, flake8, mypy

fix test
  di/container/_solving.py
  tests/test_solving.py
Due: isort, black, flake8, mypy

chore: refactor solver (#78)
  di/container/_scope_validation.py
  di/container/_solving.py
  di/container/_utils.py
  pyproject.toml
  tests/test_dependency_cycles.py
  tests/test_solving.py
Due: lockfile, isort, black, flake8, mypy

erase changes
  di/container/_solving.py
Due: isort, black, flake8, mypy

bring in changes from main
  di/container/_solving.py
Due: isort, black, flake8, mypy

re-arrange
  di/container/_solving.py
Due: isort, black, flake8, mypy

implement default_scope
  di/_utils/types.py
  di/container/_container.py
  di/container/_solving.py
  tests/test_solving.py
Due: isort, black, flake8, mypy

start working on docs
  docs/scopes.md
Due: none

chore: fix some Pyright linting errors & improve test
  tests/test_solving.py
Due: isort, black, flake8, mypy

add example
  docs/scopes.md
  docs_src/default_scope.py
  tests/docs/test_scopes_example.py
Due: isort, black, flake8, mypy

chore: fix test on Python 3.7
  tests/test_solving.py
Due: isort, black, flake8, mypy

fix fstring syntax
  di/container/_solving.py
Due: isort, black, flake8, mypy

chore: fix types and typos
  di/_utils/task.py
  tests/test_execute.py
Due: isort, black, flake8, mypy

update deps
  poetry.lock
Due: lockfile

Path conditions:
  lockfile: any of: ^pyproject.toml|poetry.lock$, but not: ^.venv/.*
  isort: any of: \.py$, but not: ^.venv/.*
  black: any of: \.py$, but not: ^.venv/.*
  flake8: any of: \.py$, but not: ^.venv/.*
  mypy: any of: \.py$, but not: ^.venv/.*
