Repository adriangb/di: changes, and which pre-commit hooks are due for each by the changed paths.
All: lockfile, isort, black, flake8, mypy

.pre-commit-config.yaml:

exclude: "^.venv/.*"
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: "v4.0.1"
    hooks:
    -   id: trailing-whitespace
  - repo: local
    hooks:
    - id: lockfile
      name: check poetry.lock
      language: system
      entry: poetry lock --no-update
      files: ^pyproject.toml|poetry.lock$
      pass_filenames: false
    - id: isort
      name: isort
      language: system
      entry: poetry run isort
      types: [python]
    - id: black
      name: black
      language: system
      entry: poetry run black
      types: [python]
    - id: flake8
      name: flake8
      language: system
      entry: poetry run flake8
      types: [python]
    - id: mypy
      name: mypy
      language: system
      entry: poetry run mypy
      types: [python]
      pass_filenames: false

perf: remove casts and stringify runtime annotations
  di/_utils/execution_planning.py
  di/_utils/state.py
  di/executors.py
  pyproject.toml
Due: lockfile, isort, black, flake8, mypy

BREAKING_CHANGE: rework bind system (now called registration) to make autowiring less brittle
  di/_utils/inspect.py
  di/_utils/types.py
  di/api/container.py
  di/container.py
  di/dependant.py
  docs/src/bind_as_a_dep.py
  docs/src/headers_example.py
  docs/src/invalid_scope_dependance.py
  docs/src/manual_wiring.py
  pyproject.toml
  tests/test_binding.py
  tests/test_exceptions.py
  tests/test_execute.py
  tests/test_solving.py
  tests/test_wiring_annotated.py
Due: lockfile, isort, black, flake8, mypy

BREAKING_CHANGE: remove CallableClassDependant from public API
  di/__init__.py
  di/dependant.py
  tests/test_callable_class.py
Due: isort, black, flake8, mypy

BREAKING_CHANGE: remove di.api.container in favor of just using di.container.BaseContainer
  di/api/container.py
  di/container.py
  pyproject.toml
  tests/test_container.py
Due: lockfile, isort, black, flake8, mypy

bug: fix edge case in autowiring classes with more than one default value
  di/dependant.py
  pyproject.toml
  tests/test_wiring.py
Due: lockfile, isort, black, flake8, mypy

doc: touch up wording around registration and binding
  docs/README.md
  docs/architecture.md
  docs/architecture.png
  docs/binds.md
  docs/solving.md
  docs/wiring.md
  mkdocs.yml
Due: none

bug: fix bug in Dependant.cache_key for Dependant.call == None
  di/dependant.py
  pyproject.toml
  tests/test_dependant.py
Due: lockfile, isort, black, flake8, mypy

refactor!: rename share parameter to use_cache
  di/api/dependencies.py
  di/container.py
  di/dependant.py
  docs/cache.md
  docs/dependants.md
  docs/scopes.md
  docs/sharing.md
  docs/src/headers_example.py
  docs/src/sharing.py
  docs/wiring.md
  pyproject.toml
  tests/test_caching_rules.py
  tests/test_callable_class.py
  tests/test_dependant.py
  tests/test_execute.py
  tests/test_scoping.py
  tests/test_solving.py
  tests/test_wiring.py
  tests/test_wiring_annotated.py
Due: lockfile, isort, black, flake8, mypy

refactor: remove internal cache that has no benefit
  di/_utils/inspect.py
Due: isort, black, flake8, mypy

feat!: accept and only allow @contextlib context managers or context manager classes
  di/_utils/inspect.py
  di/_utils/task.py
  di/container.py
  tests/test_exceptions.py
  tests/test_execute.py
  tests/test_scoping.py
Due: isort, black, flake8, mypy

bump version
  pyproject.toml
Due: lockfile

inspect after calling
  di/_utils/execution_planning.py
  di/_utils/task.py
  di/api/executor.py
  di/container.py
  di/executors.py
  tests/test_execute.py
  tests/test_executors.py
Due: isort, black, flake8, mypy

use specialization in tasks to avoid cost of introspection and checks
  benchmarks/solve.py
  benchmarks/utils.py
  di/_utils/task.py
  di/api/executor.py
  di/executors.py
  tests/test_executors.py
Due: isort, black, flake8, mypy

check what the dependency is before calling
  di/_utils/inspect.py
  di/_utils/task.py
  di/api/executor.py
  di/executors.py
  tests/test_exceptions.py
  tests/test_execute.py
  tests/test_executors.py
  tests/test_scoping.py
Due: isort, black, flake8, mypy

cleanup
  di/_utils/execution_planning.py
  di/_utils/inspect.py
  di/_utils/task.py
  tests/executor.py
  tests/test_task.py
Due: isort, black, flake8, mypy

revert changes to benchmarks
  benchmarks/solve.py
Due: isort, black, flake8, mypy

perf/refactor!: merge SyncTask and AsyncTask and specialize _utils/task.py:Task (#55)
  benchmarks/utils.py
  di/_utils/execution_planning.py
  di/_utils/inspect.py
  di/_utils/task.py
  di/api/executor.py
  di/container.py
  di/executors.py
  pyproject.toml
  tests/executor.py
  tests/test_execute.py
  tests/test_executors.py
  tests/test_task.py
Due: lockfile, isort, black, flake8, mypy

chore: remove duplicate test
  tests/test_execute.py
Due: isort, black, flake8, mypy

feat!: rename Container.scopes to Container.current_scopes and add Container.scopes. Add default scopes=[None]
  benchmarks/solve.py
  di/container.py
  di/dependant.py
  pyproject.toml
  tests/test_binding.py
  tests/test_container.py
  tests/test_dependency_cycles.py
  tests/test_exceptions.py
  tests/test_execute.py
  tests/test_get_flat_dependencies.py
  tests/test_positional_only.py
  tests/test_scoping.py
  tests/test_solving.py
  tests/test_task.py
  tests/test_wiring.py
  tests/test_wiring_annotated.py
  tests/test_wiring_forward_refs.py
  tests/test_wiring_pep_563.py
Due: lockfile, isort, black, flake8, mypy

test: better tests for caching rules
  pyproject.toml
  tests/test_caching.py
  tests/test_caching_rules.py
Due: lockfile, isort, black, flake8, mypy

chore: update ci & Makefile
  .github/workflows/workflow.yaml
  Makefile
Due: none

doc: fix up docs and move more info to README.md
  README.md
  docs/README.md
  docs/binds.md
  docs/cache.md
  docs/dependants.md
  docs/examples.md
  docs/scopes.md
  docs/solving.md
  docs/wiring.md
  docs_src/__init__.py
  docs_src/autowiring.py
  docs_src/bind_as_a_dep.py
  docs_src/headers_example.py
  docs_src/invalid_scope_dependance.py
  docs_src/joined_dependant.py
  docs_src/manual_wiring.py
  docs_src/sharing.py
  docs_src/simple.py
  docs_src/solved_dependant.py
  docs_src/web_framework.py
  mkdocs.yml
  pyproject.toml
  tests/docs/test_bind_as_a_dep.py
  tests/docs/test_header_example.py
  tests/docs/test_joined_dependant.py
  tests/docs/test_readme_example.py
  tests/docs/test_scopes_example.py
  tests/docs/test_sharing_example.py
  tests/docs/test_simple.py
  tests/docs/test_solved.py
  tests/docs/test_wiring_example.py
Due: lockfile, isort, black, flake8, mypy

chore: release 0.52.2
  pyproject.toml
Due: lockfile

chore: update Black to first stable version
  pyproject.toml
Due: lockfile

feat!: add `covariant` argument to `Container.register_by_type` and split out registration of callables to `Container.register_by_identity`
  di/container.py
  poetry.lock
  pyproject.toml
  tests/test_binding.py
Due: lockfile, isort, black, flake8, mypy

fix: bug in register_by_type hook failing when encountering generics
  di/container.py
  pyproject.toml
  tests/test_binding.py
Due: lockfile, isort, black, flake8, mypy

chore: clean up typing around tasks and task state
  di/_utils/task.py
  di/api/executor.py
  di/executors.py
  pyproject.toml
Due: lockfile, isort, black, flake8, mypy

chore: update lockfile
  poetry.lock
Due: lockfile

chore(typin): add type hint fot State parameter to executor implementations
  di/executors.py
  pyproject.toml
Due: lockfile, isort, black, flake8, mypy

refactor: clean up tasks.py to make it clearer what function is being called
  di/_utils/task.py
  pyproject.toml
Due: lockfile, isort, black, flake8, mypy

feat: allow Dependant.cache_key to allow cache hits from outer scopes
  di/_utils/execution_planning.py
  di/_utils/scope_map.py
  di/_utils/state.py
  di/_utils/task.py
  di/_utils/types.py
  di/api/dependencies.py
  di/container.py
  di/dependant.py
  pyproject.toml
  tests/test_caching.py
Due: lockfile, isort, black, flake8, mypy

allow subclasses to override subdependant intialization
  di/container.py
  di/dependant.py
Due: isort, black, flake8, mypy

feat: allow Dependant.cache_key to allow cache hits from outer scopes (#57)
  di/_utils/execution_planning.py
  di/_utils/scope_map.py
  di/_utils/state.py
  di/_utils/task.py
  di/_utils/types.py
  di/api/dependencies.py
  di/container.py
  di/dependant.py
  pyproject.toml
  tests/test_caching.py
Due: lockfile, isort, black, flake8, mypy

refactor: remove __slots__ from Dependant since attributes are no longer accessed during execution
  di/api/dependencies.py
  di/dependant.py
  pyproject.toml
Due: lockfile, isort, black, flake8, mypy

refactor: remove __slots__ from Dependant since attributes are no longer accessed during execution (#59)
  di/api/dependencies.py
  di/dependant.py
  pyproject.toml
Due: lockfile, isort, black, flake8, mypy

BREAKING_CHANGE: dissallow using a dependency with different scopes in the same DAG
  di/dependant.py
  tests/test_dependant.py
  tests/test_solving.py
Due: isort, black, flake8, mypy

refactor/perf: fix identification of dependants in DAG building
  di/container.py
  pyproject.toml
Due: lockfile, isort, black, flake8, mypy

refactor/perf: fix identification of dependants in DAG building (#60)
  di/container.py
  pyproject.toml
Due: lockfile, isort, black, flake8, mypy

clean up test
  tests/test_solving.py
Due: isort, black, flake8, mypy
