Repository adriangb/di: changes, and which pre-commit hooks are due for each by the changed paths.
All: lockfile, isort, black, flake8, mypy

.pre-commit-config.yaml:

exclude: "^.venv/.*"
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: "v4.0.1"
    hooks:
    -   id: trailing-whitespace
  - repo: local
    hooks:
    - id: lockfile
      name: check poetry.lock
      language: system
      entry: poetry lock --no-update
      files: ^pyproject.toml|poetry.lock$
      pass_filenames: false
    - id: isort
      name: isort
      language: system
      entry: poetry run isort
      types: [python]
    - id: black
      name: black
      language: system
      entry: poetry run black
      types: [python]
    - id: flake8
      name: flake8
      language: system
      entry: poetry run flake8
      types: [python]
    - id: mypy
      name: mypy
      language: system
      entry: poetry run mypy
      types: [python]
      pass_filenames: false

chore: bump version from 0.62.0 -> 0.63.0
  pyproject.toml
Due: lockfile

feat: give Dependant a reference to the Marker that created it
  di/dependant/_dependant.py
  pyproject.toml
Due: lockfile, isort, black, flake8, mypy

fix: Dependant.marker type annotation
  di/dependant/_dependant.py
  pyproject.toml
Due: lockfile, isort, black, flake8, mypy

feat: add Marker.dependency
  di/dependant/_dependant.py
  pyproject.toml
Due: lockfile, isort, black, flake8, mypy

BREAKING_CHANGE: move Container.bind_by_type to di.container.bind_by_type
  di/container/__init__.py
  di/container/_bind_by_type_hook.py
  di/container/_container.py
  di/container/_execution_planning.py
  di/container/_scope_validation.py
  di/container/_solving.py
  di/container/_topsort.py
  di/executors/__init__.py
  di/executors/_async.py
  di/executors/_sync.py
  docs/architecture.md
  docs/binds.md
  docs/scopes.md
  docs_src/bind_as_a_dep.py
  docs_src/bind_hooks.py
  docs_src/headers_example.py
  docs_src/invalid_scope_dependance.py
  docs_src/manual_wiring.py
  tests/docs/test_wiring_example.py
  tests/test_binding.py
  tests/test_exceptions.py
  tests/test_execute.py
  tests/test_solving.py
  tests/test_wiring.py
  tests/test_wiring_annotated.py
Due: isort, black, flake8, mypy

refactor: move solving from Container.solve to container._solving.py
  di/_utils/execution_planning.py
  di/_utils/scope_validation.py
  di/_utils/state.py
  di/_utils/topsort.py
  di/container/_container.py
  di/executors.py
Due: isort, black, flake8, mypy

refactor: consolidate executor utils into di.executors
  di/executors/_async.py
  di/executors/_concurrency.py
  pyproject.toml
Due: lockfile, isort, black, flake8, mypy

feat: let exectuors use TopologicalSorter.static_order if they don't need concurrency
  di/_utils/task.py
  di/api/executor.py
  di/container/_container.py
  di/container/_execution_planning.py
  di/container/_solving.py
  di/executors/_async.py
  di/executors/_sync.py
  pyproject.toml
  tests/test_executors.py
Due: lockfile, isort, black, flake8, mypy

chore: format pyproject.toml
  pyproject.toml
Due: lockfile

refactor: check if the result from Task.compute is None instead of inspect.isawaitable
  di/api/executor.py
  di/executors/_async.py
  di/executors/_sync.py
  pyproject.toml
Due: lockfile, isort, black, flake8, mypy

refactor: simplify di/executors/_concurrency.py
  di/executors/_concurrency.py
Due: isort, black, flake8, mypy

doc: rebrand as a dependency injection toolkit
  README.md
Due: none

chore: bump minimum graphlib2 version to 0.4.0
  poetry.lock
  pyproject.toml
Due: lockfile

chore: update lockfile
  poetry.lock
Due: lockfile

chore: release 0.66.2
  pyproject.toml
Due: lockfile

refactor!: fix generics/type annotations for Executor API & homogenize protocol names
  di/_utils/task.py
  di/api/executor.py
  di/container/_container.py
  di/container/_execution_planning.py
  di/container/_state.py
  di/executors/_async.py
  di/executors/_sync.py
  pyproject.toml
Due: lockfile, isort, black, flake8, mypy

chore: make anyio an optional dependency
  di/__init__.py
  di/executors/_async.py
  di/executors/_concurrency.py
  docs_src/async_constructor.py
  docs_src/async_init_dependency.py
  docs_src/autowiring.py
  docs_src/bind_as_a_dep.py
  docs_src/bind_hooks.py
  docs_src/headers_example.py
  docs_src/injectable_class.py
  docs_src/invalid_scope_dependance.py
  docs_src/joined_dependant.py
  docs_src/markers.py
  docs_src/sharing.py
  docs_src/simple.py
  docs_src/singleton.py
  docs_src/solved_dependant.py
  docs_src/web_framework.py
  poetry.lock
  pyproject.toml
  tests/test_binding.py
  tests/test_caching.py
  tests/test_dependant.py
  tests/test_dependency_cycles.py
  tests/test_exceptions.py
  tests/test_execute.py
  tests/test_get_flat_dependencies.py
  tests/test_injectable_class.py
  tests/test_positional_only.py
  tests/test_scoping.py
  tests/test_solving.py
  tests/test_task.py
  tests/test_wiring.py
  tests/test_wiring_annotated.py
  tests/test_wiring_forward_refs.py
  tests/test_wiring_pep_563.py
Due: lockfile, isort, black, flake8, mypy

chore: remove unused generic parameter
  di/api/dependencies.py
Due: isort, black, flake8, mypy

refactor: remove direct inheritence from protocols
  di/_utils/task.py
  di/container/_execution_planning.py
  pyproject.toml
Due: lockfile, isort, black, flake8, mypy

fix: Makefile was missing extra in poetry install
  Makefile
  README.md
  di/executors/_async.py
Due: isort, black, flake8, mypy

chore: remove unecessary privitization of function in private module
  di/executors/_async.py
Due: isort, black, flake8, mypy

refactor: remove di.container._topsort.py
  di/container/_solving.py
  di/container/_topsort.py
  pyproject.toml
Due: lockfile, isort, black, flake8, mypy

ci: fix failing windows runs
  .github/workflows/workflow.yaml
Due: none

don't install wheels
  Makefile
  pyproject.toml
Due: lockfile

ci: fix failing windows jobs(#72)
  .github/workflows/workflow.yaml
  Makefile
  pyproject.toml
Due: lockfile

feat: output benchmarks to html
  benchmarks/solve.py
Due: isort, black, flake8, mypy

chore: fix benchmarks
  benchmarks/solve.py
  benchmarks/utils.py
Due: isort, black, flake8, mypy

perf: use a pre-allocated list for results
  di/_utils/task.py
  di/container/_execution_planning.py
  di/container/_solving.py
Due: isort, black, flake8, mypy

chore: release 0.68.4
  pyproject.toml
Due: lockfile

perf: bind the callable during solving
  di/_utils/task.py
  di/container/_execution_planning.py
Due: isort, black, flake8, mypy

refactor: use a NamedTuple for ExecutionState
  di/_utils/task.py
Due: isort, black, flake8, mypy

chore: release 0.68.5
  pyproject.toml
Due: lockfile

chore: clean up typing and future imports
  di/_utils/scope_map.py
  di/api/executor.py
  di/api/solved.py
  di/container/_container.py
  di/container/_scope_validation.py
  di/container/_state.py
  di/dependant/_injectable_type.py
  docs_src/headers_example.py
  pyproject.toml
Due: lockfile, isort, black, flake8, mypy

work around methods as properties
  di/_utils/task.py
  di/api/executor.py
  poetry.lock
  pyproject.toml
Due: lockfile, isort, black, flake8, mypy

chore: clean up typing and future imports (#73)
  di/_utils/scope_map.py
  di/_utils/task.py
  di/api/executor.py
  di/api/solved.py
  di/container/_container.py
  di/container/_scope_validation.py
  di/container/_state.py
  di/dependant/_injectable_type.py
  docs_src/headers_example.py
  poetry.lock
  pyproject.toml
Due: lockfile, isort, black, flake8, mypy

chore: rename Container._register_hooks -> Container._bind_hooks
  di/container/_container.py
Due: isort, black, flake8, mypy

feat: record dependency path in solving errors
  di/container/_scope_validation.py
  di/container/_solving.py
  di/container/_utils.py
  di/dependant/_dependant.py
  di/exceptions.py
  pyproject.toml
  tests/test_solving.py
Due: lockfile, isort, black, flake8, mypy

bump version
  pyproject.toml
Due: lockfile

Revert "bump version"
  pyproject.toml
Due: lockfile
