Repository adriangb/di: changes, and which pre-commit hooks are due for each by the changed paths.
All: lockfile, isort, black, flake8, mypy

lockfile:
  name: check poetry.lock
  language: system
  entry: poetry lock --no-update
  pass_filenames: false

isort:
  name: isort
  language: system
  entry: poetry run isort

black:
  name: black
  language: system
  entry: poetry run black

flake8:
  name: flake8
  language: system
  entry: poetry run flake8

mypy:
  name: mypy
  language: system
  entry: poetry run mypy
  pass_filenames: false

version: bump to new 0.76.0 version
  pyproject.toml
Due: lockfile

fix: handle callable class instance generators
  di/_utils/inspect.py
Due: isort, black, flake8, mypy

refactor: rewrite is coro check function to have the same style with other check functions
  di/_utils/inspect.py
Due: isort, black, flake8, mypy

test: add tests for class callable generators to test task
  tests/test_task.py
Due: isort, black, flake8, mypy

docs: update path in docstring
  tests/test_task.py
Due: isort, black, flake8, mypy

refactor: remove unused code in tests
  tests/test_execute.py
Due: isort, black, flake8, mypy

test: add tests for class callable generators to test execute
  tests/test_execute.py
Due: isort, black, flake8, mypy

Update deps
  poetry.lock
Due: lockfile

Update deps and switch to ruff
  .pre-commit-config.yaml
  Makefile
  di/_container.py
  di/_task.py
  di/_utils/inspect.py
  di/_utils/scope_map.py
  di/_utils/types.py
  di/dependent/_dependent.py
  di/dependent/_joined.py
  poetry.lock
  pyproject.toml
  tests/test_caching.py
  tests/test_scoping.py
Due: lockfile, isort, black, flake8, mypy

Doc/fix typos (#103)
  docs/__init__.py
  docs/autowiring.py
  docs/contributing.md
  docs/py.typed
  docs/scopes.md
  docs/wiring.md
  pyproject.toml
  tests/docs/test_scopes_example.py
Due: lockfile, isort, black, flake8, mypy

docs: refer to optional annotated cpython issue #90353
  di/_utils/inspect.py
Due: isort, black, flake8, mypy

Fix/pep 563 class init annotations parsing (#107)
  di/_utils/inspect.py
  pyproject.toml
  tests/test_wiring_pep_563.py
Due: lockfile, isort, black, flake8, mypy

version: bump to new 0.77.0 version
  pyproject.toml
Due: lockfile

refactor: remove obsolete sync param in test concurrency async case
  tests/test_execute.py
Due: isort, black, flake8, mypy

Fix/callable class generator not handled (#108)
  di/_utils/inspect.py
  pyproject.toml
  tests/test_execute.py
  tests/test_task.py
Due: lockfile, isort, black, flake8, mypy

test: cover generic binding
  tests/test_binding.py
Due: isort, black, flake8, mypy

feat: handle generic alias in bind_by_type hook and compare types using == operator instead of is
  di/_container.py
Due: isort, black, flake8, mypy

style: move last added deps to commented categories
  pyproject.toml
Due: lockfile

refactor: remove unused isort config
  pyproject.toml
Due: lockfile

ci: add python3.12 to test job
  .github/workflows/workflow.yaml
Due: none

version: bump 0.78.0 version
  pyproject.toml
Due: lockfile

test: skip generic bind if python version less than 3.10 due to 'Parameters to generic types must be types'
  tests/test_binding.py
Due: isort, black, flake8, mypy

ci: remove python3.12 from ci to add it in another PR
  .github/workflows/workflow.yaml
Due: none

refactor: clean cache using private typing list with cache cleanup callbacks
  tests/test_binding.py
Due: isort, black, flake8, mypy

fix: backward compatibility with python3.7
  tests/test_binding.py
Due: isort, black, flake8, mypy

Feature/bind by type handling generic (#110)
  .github/workflows/workflow.yaml
  di/_container.py
  pyproject.toml
  tests/test_binding.py
Due: lockfile, isort, black, flake8, mypy

ci: remove python3.7 and add python3.11, python3.12 to ci lint job
  .github/workflows/workflow.yaml
Due: none

ci: remove python3.7 and add python3.12 to ci test job
  .github/workflows/workflow.yaml
Due: none

refactor: import available from std typing
  di/_utils/inspect.py
Due: isort, black, flake8, mypy

refactor: import available from std typing
  di/typing.py
Due: isort, black, flake8, mypy

refactor: remove unused module
  di/_utils/typing.py
Due: isort, black, flake8, mypy

refactor: import available from std typing
  di/_container.py
  di/_utils/types.py
  di/api/dependencies.py
  di/api/executor.py
  docs_src/bind_as_a_dep.py
  tests/docs/test_sharing_example.py
  tests/test_binding.py
  tests/test_execute.py
  tests/test_positional_only.py
Due: isort, black, flake8, mypy

makefile: add docs_src on ruff and black
  Makefile
Due: none

pyproject: ignore ruff print error in docs_src
  pyproject.toml
Due: lockfile

refactor: black
  docs_src/solved_dependent.py
Due: isort, black, flake8, mypy

feat: add Annotated to __all__
  di/typing.py
Due: isort, black, flake8, mypy

pyproject: remove ruff target-version since it takes minimal required by default
  pyproject.toml
Due: lockfile

coverage: pragma no cover optional import
  di/_utils/concurrency.py
  di/_utils/inspect.py
  di/typing.py
Due: isort, black, flake8, mypy

pyproject: drop python3.7
  pyproject.toml
Due: lockfile

chore: poetry lock
  poetry.lock
Due: lockfile

Path conditions:
  lockfile: any of: ^pyproject.toml|poetry.lock$, but not: ^.venv/.*
  isort: any of: \.py$, but not: ^.venv/.*
  black: any of: \.py$, but not: ^.venv/.*
  flake8: any of: \.py$, but not: ^.venv/.*
  mypy: any of: \.py$, but not: ^.venv/.*
