Repository adriangb/di: changes, and which pre-commit hooks are due for each by the changed paths.
All: lockfile, isort, black, flake8, mypy

lockfile:
  name: check poetry.lock
  language: system
  entry: poetry lock --no-update
  pass_filenames: false

isort:
  name: isort
  language: system
  entry: poetry run isort

black:
  name: black
  language: system
  entry: poetry run black

flake8:
  name: flake8
  language: system
  entry: poetry run flake8

mypy:
  name: mypy
  language: system
  entry: poetry run mypy
  pass_filenames: false

docs: correct spelling of contributing
  docs/contributing.md
Due: none

docs: correct spelling of dependants
  docs/dependants.md
Due: none

docs: correct spelling of integrations
  docs/integrations.md
Due: none

docs: correct spelling of sharing
  docs/sharing.md
Due: none

doc: fix typo in README.md (#46)
  docs/README.md
Due: none

chore: Correct spelling in docs/README.md (#45)
  docs/README.md
Due: none

docs: Correct spelling of docs (#47)
  docs/README.md
  docs/architecture.md
  docs/contributing.md
  docs/dependants.md
  docs/integrations.md
  docs/scopes.md
  docs/sharing.md
  docs/solving.md
  docs/wiring.md
Due: none

chore: release v0.36.1
  pyproject.toml
Due: lockfile

doc: add code of conduct
  .gitignore
  README.md
Due: none

ci: only release on PyPi if there is a new version
  .github/workflows/workflow.yaml
Due: none

ci: enforce version bumps, but only for source code changes
  .github/workflows/workflow.yaml
Due: none

doc: add missing CODE_OF_CONDUCT.md file
  CODE_OF_CONDUCT.md
Due: none

ci: add missing runs-on property
  .github/workflows/workflow.yaml
Due: none

ci: try to fix conditional
  .github/workflows/workflow.yaml
Due: none

ci: reference env via ${{}}
  .github/workflows/workflow.yaml
Due: none

ci: revert to a simpler model of always requiring a version bump
  .github/workflows/workflow.yaml
Due: none

feat!: follow nesting logic in PEP 593 annotations
  di/dependant.py
  di/typing.py
  pyproject.toml
Due: lockfile, isort, black, flake8, mypy

doc: add note on nested use of Annotated
  docs/wiring.md
  pyproject.toml
Due: lockfile

feat!: allow passing a provider directly to bind()
  di/api/container.py
  di/container.py
  docs/src/bind_as_a_dep.py
  pyproject.toml
  tests/test_binding.py
  tests/test_exceptions.py
  tests/test_execute.py
  tests/test_solving.py
Due: lockfile, isort, black, flake8, mypy

bug: fix handling of Dependants that return a new object
  di/container.py
  pyproject.toml
Due: lockfile, isort, black, flake8, mypy

chore: better naming
  di/_utils/execution_planning.py
  di/container.py
Due: isort, black, flake8, mypy

chore: release 0.37.2
  pyproject.toml
Due: lockfile

BREAKING_CHANGE: only allow dependants to be bound
  di/api/container.py
  di/container.py
  docs/src/bind_as_a_dep.py
  tests/test_binding.py
  tests/test_container.py
  tests/test_exceptions.py
  tests/test_execute.py
  tests/test_solving.py
Due: isort, black, flake8, mypy

refactor: move caching into tasks
  di/_utils/execution_planning.py
  di/_utils/scope_map.py
  di/_utils/state.py
  di/_utils/task.py
  di/container.py
  tests/test_scoping.py
Due: isort, black, flake8, mypy

BREAKING_CHANGE: require Containers to declare scopes up front
  di/_utils/execution_planning.py
  di/_utils/scope_map.py
  di/container.py
  docs/integrations.md
  docs/src/invalid_scope_dependance.py
  docs/src/starlette/__init__.py
  docs/src/starlette/demo.py
  docs/src/starlette/src.py
  docs/src/textual/__init__.py
  docs/src/textual/demo.py
  docs/src/textual/src.py
  mkdocs.yml
  tests/docs/test_starlette.py
  tests/docs/test_textual.py
  tests/test_binding.py
  tests/test_caching_rules.py
  tests/test_callable_class.py
  tests/test_container.py
  tests/test_execute.py
  tests/test_get_flat_dependencies.py
  tests/test_scoping.py
  tests/test_solving.py
Due: isort, black, flake8, mypy

BREAKING_CHANGE: containers will no longer implicitly enter the execution scope for you
  di/_utils/nullcontext.py
  di/_utils/scope_map.py
  di/_utils/task.py
  di/container.py
  docs/src/autowiring.py
  docs/src/bind_as_a_dep.py
  docs/src/headers_example.py
  docs/src/joined_dependant.py
  docs/src/manual_wiring.py
  docs/src/sharing.py
  docs/src/simple.py
  docs/src/solved_dependant.py
  docs/src/web_framework.py
  tests/test_binding.py
  tests/test_caching_rules.py
  tests/test_callable_class.py
  tests/test_container.py
  tests/test_dependency_cycles.py
  tests/test_exceptions.py
  tests/test_execute.py
  tests/test_get_flat_dependencies.py
  tests/test_positional_only.py
  tests/test_scoping.py
  tests/test_solving.py
  tests/test_wiring_forward_refs.py
  tests/test_wiring_pep_563.py
Due: isort, black, flake8, mypy

fix benchmarks
  benchmarks/solve.py
Due: isort, black, flake8, mypy

implement a formal cache_key property instead of __hash__ and __eq__
  di/_utils/execution_planning.py
  di/_utils/scope_validation.py
  di/api/dependencies.py
  di/api/solved.py
  di/container.py
  di/dependant.py
  tests/test_dependant.py
  tests/test_dependency_cycles.py
  tests/test_scoping.py
  tests/test_solving.py
  tests/test_wiring_annotated.py
Due: isort, black, flake8, mypy

bump version
  pyproject.toml
Due: lockfile

Make executor a required argument to execute_{sync,async}
  benchmarks/solve.py
  di/__init__.py
  di/api/container.py
  di/api/executor.py
  di/container.py
  di/executors.py
  docs/src/autowiring.py
  docs/src/bind_as_a_dep.py
  docs/src/headers_example.py
  docs/src/invalid_scope_dependance.py
  docs/src/joined_dependant.py
  docs/src/manual_wiring.py
  docs/src/sharing.py
  docs/src/simple.py
  docs/src/solved_dependant.py
  docs/src/web_framework.py
  tests/executor.py
  tests/test_binding.py
  tests/test_caching_rules.py
  tests/test_callable_class.py
  tests/test_exceptions.py
  tests/test_execute.py
  tests/test_executors.py
  tests/test_positional_only.py
  tests/test_scoping.py
  tests/test_solving.py
  tests/test_wiring_forward_refs.py
  tests/test_wiring_pep_563.py
Due: isort, black, flake8, mypy

remove SolvedDependant.topsort
  di/api/solved.py
  di/container.py
Due: isort, black, flake8, mypy

fix benchmarks
  benchmarks/solve.py
  benchmarks/utils.py
Due: isort, black, flake8, mypy

remove dangling executor parameter
  benchmarks/solve.py
  di/container.py
Due: isort, black, flake8, mypy

perf: use codegen in tasks and key results using ints
  di/_utils/execution_planning.py
  di/_utils/task.py
  di/container.py
Due: isort, black, flake8, mypy

BREAKING_CHANGE: deprecate use of param: type = Depends(...)
  benchmarks/solve.py
  benchmarks/utils.py
  di/__init__.py
  di/dependant.py
  di/params.py
  di/typing.py
  docs/README.md
  docs/dependants.md
  docs/scopes.md
  docs/sharing.md
  docs/src/headers_example.py
  docs/src/invalid_scope_dependance.py
  docs/src/manual_wiring.py
  docs/src/sharing.py
  docs/wiring.md
  tests/test_binding.py
  tests/test_caching_rules.py
  tests/test_dependency_cycles.py
  tests/test_exceptions.py
  tests/test_execute.py
  tests/test_get_flat_dependencies.py
  tests/test_scoping.py
Due: isort, black, flake8, mypy

fix py37
  docs/src/headers_example.py
  docs/src/sharing.py
  poetry.lock
  pyproject.toml
  tests/test_solving.py
Due: lockfile, isort, black, flake8, mypy

remove unused deps
  poetry.lock
  pyproject.toml
Due: lockfile

remove unused func
  di/dependant.py
Due: isort, black, flake8, mypy

cleanup
  di/_utils/scope_map.py
  di/_utils/scope_validation.py
  tests/test_dependency_cycles.py
  tests/test_execute.py
  tests/test_scoping.py
  tests/test_solving.py
Due: isort, black, flake8, mypy

Path conditions:
  lockfile: any of: ^pyproject.toml|poetry.lock$, but not: ^.venv/.*
  isort: any of: \.py$, but not: ^.venv/.*
  black: any of: \.py$, but not: ^.venv/.*
  flake8: any of: \.py$, but not: ^.venv/.*
  mypy: any of: \.py$, but not: ^.venv/.*
