Repository adriangb/di: changes, and which pre-commit hooks are due for each by the changed paths.
All: lockfile, isort, black, flake8, mypy

.pre-commit-config.yaml:

exclude: "^.venv/.*"
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: "v4.0.1"
    hooks:
    -   id: trailing-whitespace
  - repo: local
    hooks:
    - id: lockfile
      name: check poetry.lock
      language: system
      entry: poetry lock --no-update
      files: ^pyproject.toml|poetry.lock$
      pass_filenames: false
    - id: isort
      name: isort
      language: system
      entry: poetry run isort
      types: [python]
    - id: black
      name: black
      language: system
      entry: poetry run black
      types: [python]
    - id: flake8
      name: flake8
      language: system
      entry: poetry run flake8
      types: [python]
    - id: mypy
      name: mypy
      language: system
      entry: poetry run mypy
      types: [python]
      pass_filenames: false

fix import on py37
  di/_utils/concurrency.py
Due: isort, black, flake8, mypy

add typing checks
  tests/test_concurrency.py
Due: isort, black, flake8, mypy

remove sync_to_thread option (#79)
  README.md
  di/_utils/concurrency.py
  di/concurrency.py
  di/executors/_async.py
  pyproject.toml
  tests/test_concurrency.py
  tests/test_execute.py
  tests/test_task.py
Due: lockfile, isort, black, flake8, mypy

remove unused sync_to_thread param
  di/dependant/_dependant.py
  pyproject.toml
  tests/test_execute.py
Due: lockfile, isort, black, flake8, mypy

fix internal type
  di/_utils/inspect.py
  pyproject.toml
Due: lockfile, isort, black, flake8, mypy

Fix misc typos
  di/container/_solving.py
  docs/wiring.md
  docs_src/async_constructor.py
  tests/test_exceptions.py
Due: isort, black, flake8, mypy

Fix misc typos
  tests/test_solving.py
Due: isort, black, flake8, mypy

rename stuff
  docs/api.md
Due: none

doc: add api interface (#85)
  docs/api.md
  mkdocs.yml
  poetry.lock
  pyproject.toml
Due: lockfile

bump version
  pyproject.toml
Due: lockfile

fix: docs building
  docs/api.md
  docs/dependants.md
Due: none

Fix docs building and references
  pyproject.toml
Due: lockfile

rename file
  docs/dependents.md
Due: none

Refactor di._utils.task into di._task
  di/_container.py
  di/_task.py
  di/_utils/task.py
  pyproject.toml
Due: lockfile, isort, black, flake8, mypy

fix typing, remove StateType abstraction
  di/_container.py
  di/_task.py
  di/api/executor.py
  di/executors/_async.py
  di/executors/_sync.py
Due: isort, black, flake8, mypy

minimize boilerplate
  di/_container.py
  di/_task.py
Due: isort, black, flake8, mypy

remove indirection around Task class
  di/_task.py
  di/api/executor.py
Due: isort, black, flake8, mypy

Refactor di._utils.task into di._task (#92)
  di/_container.py
  di/_task.py
  di/_utils/task.py
  di/api/executor.py
  di/executors/_async.py
  di/executors/_sync.py
  pyproject.toml
Due: lockfile, isort, black, flake8, mypy

Fix docs builds (#93)
  docs/api.md
  docs/dependents.md
  pyproject.toml
Due: lockfile

refactor: remove the unused `_state` slot from the `Container`
  di/_container.py
  pyproject.toml
Due: lockfile, isort, black, flake8, mypy

refactor: remove the unused `_state` slot from the `Container` (#94)
  di/_container.py
  pyproject.toml
Due: lockfile, isort, black, flake8, mypy

Fix old imports in example
  README.md
Due: none

Bump version
  pyproject.toml
Due: lockfile

Fix old imports in example (#97)
  README.md
  pyproject.toml
Due: lockfile

add FastDepends mention to README
  README.md
Due: none

use pydantic link
  README.md
Due: none

doc: remove repeated word
  docs/wiring.md
Due: none

doc: fix filename for module with example of invalid scope
  docs/scopes.md
Due: none

doc: fix dir path where code fragments are located
  docs/contributing.md
Due: none

doc: remove unused python files from docs/ since all code fragments moved to docs_src/
  docs/__init__.py
  docs/autowiring.py
  docs/py.typed
Due: isort, black, flake8, mypy

test: fix typo in test name
  tests/docs/test_scopes_example.py
Due: isort, black, flake8, mypy

version: bump to new 0.75.4 version
  pyproject.toml
Due: lockfile

fix: handle class init
  di/_utils/inspect.py
Due: isort, black, flake8, mypy

refactor: improve readability
  di/_utils/inspect.py
Due: isort, black, flake8, mypy

test: cover annotations parsing in class init
  tests/test_wiring_pep_563.py
Due: isort, black, flake8, mypy
