Repository adriangb/di: changes, and which pre-commit hooks are due for each by the changed paths.
All: lockfile, isort, black, flake8, mypy

lockfile:
  name: check poetry.lock
  language: system
  entry: poetry lock --no-update
  pass_filenames: false

isort:
  name: isort
  language: system
  entry: poetry run isort

black:
  name: black
  language: system
  entry: poetry run black

flake8:
  name: flake8
  language: system
  entry: poetry run flake8

mypy:
  name: mypy
  language: system
  entry: poetry run mypy
  pass_filenames: false

test re-using a dependant instance
  tests/test_solving.py
Due: isort, black, flake8, mypy

alternative approach
  di/container.py
  di/dependant.py
  tests/test_solving.py
Due: isort, black, flake8, mypy

BREAKING_CHANGE: disallow using a dependency with multiple scopes (#61)
  di/container.py
  di/dependant.py
  pyproject.toml
  tests/test_dependant.py
  tests/test_solving.py
Due: lockfile, isort, black, flake8, mypy

fix: missing type annotations that aren't inferred correctly in Pylance
  di/dependant.py
  pyproject.toml
Due: lockfile, isort, black, flake8, mypy

refactor!: simplify binding down to only binding by type and rename binding methods
  di/_utils/scope_map.py
  di/container.py
  docs/architecture.md
  docs/binds.md
  docs_src/bind_as_a_dep.py
  docs_src/bind_hooks.py
  docs_src/headers_example.py
  docs_src/invalid_scope_dependance.py
  docs_src/manual_wiring.py
  pyproject.toml
  tests/docs/test_bind_hooks.py
  tests/test_binding.py
  tests/test_exceptions.py
  tests/test_execute.py
  tests/test_solving.py
  tests/test_wiring.py
  tests/test_wiring_annotated.py
Due: lockfile, isort, black, flake8, mypy

refactor!: rename binding methods and remove register_by_identity (#63)
  di/_utils/scope_map.py
  di/container.py
  di/dependant.py
  docs/architecture.md
  docs/binds.md
  docs_src/bind_as_a_dep.py
  docs_src/bind_hooks.py
  docs_src/headers_example.py
  docs_src/invalid_scope_dependance.py
  docs_src/manual_wiring.py
  pyproject.toml
  tests/docs/test_bind_hooks.py
  tests/test_binding.py
  tests/test_exceptions.py
  tests/test_execute.py
  tests/test_solving.py
  tests/test_wiring.py
  tests/test_wiring_annotated.py
Due: lockfile, isort, black, flake8, mypy

doc: fix typo in binds.md
  docs/binds.md
  pyproject.toml
Due: lockfile

fix: make Container inherit from BaseContainer to allow polymorphism
  di/_utils/types.py
  di/container.py
  tests/test_container.py
Due: isort, black, flake8, mypy

bump version
  pyproject.toml
Due: lockfile

feat: allow classes to be constructed via an @classmethod __call__
  di/_utils/inspect.py
  di/dependant.py
  tests/test_wiring.py
Due: isort, black, flake8, mypy

docs
  docs/wiring.md
  tests/test_wiring.py
Due: isort, black, flake8, mypy

more docs
  docs/wiring.md
  docs_src/async_constructor.py
  docs_src/async_init_dependency.py
  docs_src/test_async_constructor.py
  tests/docs/test_async_constructor.py
  tests/docs/test_async_init_dependency.py
Due: isort, black, flake8, mypy

minimize changes
  di/_utils/inspect.py
Due: isort, black, flake8, mypy

refactor/feat!: seperate markers and dependants and introduce injectable classes
  di/__init__.py
  di/_utils/execution_planning.py
  di/_utils/task.py
  di/api/_dependencies.py
  di/api/_providers.py
  di/api/dependencies.py
  di/api/providers.py
  di/container.py
  di/dependant.py
  di/typing.py
  docs_src/async_constructor.py
  docs_src/async_init_dependency.py
  docs_src/headers_example.py
  docs_src/invalid_scope_dependance.py
  docs_src/manual_wiring.py
  docs_src/sharing.py
  pyproject.toml
  tests/test_binding.py
  tests/test_caching.py
  tests/test_callable_class.py
  tests/test_dependency_cycles.py
  tests/test_exceptions.py
  tests/test_execute.py
  tests/test_get_flat_dependencies.py
  tests/test_scoping.py
  tests/test_solving.py
  tests/test_wiring.py
  tests/test_wiring_annotated.py
Due: lockfile, isort, black, flake8, mypy

fix docs
  docs/wiring.md
Due: none

doc tweaks
  docs/architecture.md
  docs/wiring.md
Due: none

refactor/feat!: separate markers and dependants and introduce injectable classes (#65)
  di/__init__.py
  di/_utils/execution_planning.py
  di/_utils/task.py
  di/api/_dependencies.py
  di/api/_providers.py
  di/api/dependencies.py
  di/api/providers.py
  di/container.py
  di/dependant.py
  di/typing.py
  docs/architecture.md
  docs/wiring.md
  docs_src/async_constructor.py
  docs_src/async_init_dependency.py
  docs_src/headers_example.py
  docs_src/invalid_scope_dependance.py
  docs_src/manual_wiring.py
  docs_src/sharing.py
  docs_src/test_async_constructor.py
  pyproject.toml
  tests/docs/test_async_constructor.py
  tests/docs/test_async_init_dependency.py
  tests/test_binding.py
  tests/test_caching.py
  tests/test_callable_class.py
  tests/test_dependency_cycles.py
  tests/test_exceptions.py
  tests/test_execute.py
  tests/test_get_flat_dependencies.py
  tests/test_scoping.py
  tests/test_solving.py
  tests/test_wiring.py
  tests/test_wiring_annotated.py
Due: lockfile, isort, black, flake8, mypy

fix: add missing from_callable method
  di/dependant.py
  pyproject.toml
Due: lockfile, isort, black, flake8, mypy

fix: add missing from_callable method (#66)
  di/dependant.py
  pyproject.toml
Due: lockfile, isort, black, flake8, mypy

feat: add injectable base class
  di/dependant.py
  poetry.lock
Due: lockfile, isort, black, flake8, mypy

version bump
  pyproject.toml
Due: lockfile

Revert changes to lockfile
  poetry.lock
Due: lockfile

Ad missing test
  tests/test_injectable_class.py
Due: isort, black, flake8, mypy

feat: Add injectable base class (#68)
  di/dependant.py
  pyproject.toml
  tests/test_injectable_class.py
Due: lockfile, isort, black, flake8, mypy

chore: add more tests
  di/dependant.py
  tests/test_injectable_class.py
Due: isort, black, flake8, mypy

doc: rework wiring docs
  docs/architecture.md
  docs/cache.md
  docs/wiring.md
  docs_src/autowiring.py
  pyproject.toml
Due: lockfile, isort, black, flake8, mypy

doc/test: add tests for new doc examples
  docs/autowiring.py
  docs/wiring.md
  docs_src/async_constructor.py
  docs_src/async_init_dependency.py
  docs_src/injectable_class.py
  docs_src/markers.py
  docs_src/singleton.py
  docs_src/test_async_constructor.py
  pyproject.toml
  tests/docs/test_injectable_class.py
  tests/docs/test_markers.py
  tests/docs/test_singleton.py
Due: lockfile, isort, black, flake8, mypy

refactor!: simplify APIs for Dependant, Marker and Injectable base class
  di/_utils/execution_planning.py
  di/_utils/task.py
  di/api/_dependencies.py
  di/api/_providers.py
  di/api/dependencies.py
  di/api/providers.py
  di/dependant.py
  di/typing.py
  docs_src/async_constructor.py
  docs_src/injectable_class.py
  docs_src/singleton.py
  pyproject.toml
  tests/test_injectable_class.py
Due: lockfile, isort, black, flake8, mypy

refactor!: split up container and dependant modules
  di/container/__init__.py
  di/container/_base.py
  di/container/_bind_hook.py
  di/container/_common.py
  di/container/_container.py
  di/dependant/__init__.py
  di/dependant/_dependant.py
  di/dependant/_injectable_type.py
  di/dependant/_joined.py
  pyproject.toml
Due: lockfile, isort, black, flake8, mypy

test: add missing test for BaseContainer.execute_async
  di/_utils/types.py
  di/container/_bind_hook.py
  di/container/_common.py
  pyproject.toml
  tests/test_base_container.py
Due: lockfile, isort, black, flake8, mypy

chore: tweak ci installs
  .github/workflows/workflow.yaml
  Makefile
Due: none

update lockfile
  poetry.lock
Due: lockfile

chore: tweak ci dependency installation (#70)
  .github/workflows/workflow.yaml
  Makefile
  poetry.lock
  pyproject.toml
Due: lockfile

feat!: simplify typing.get_markers_from_parameter
  di/dependant/_dependant.py
  di/typing.py
  pyproject.toml
Due: lockfile, isort, black, flake8, mypy

feat!: simplify typing.get_markers_from_parameter (#71)
  di/dependant/_dependant.py
  di/typing.py
  pyproject.toml
Due: lockfile, isort, black, flake8, mypy

refactor!: move scopes from __init__ -> solve in BaseContainer
  di/_utils/typing.py
  di/container/_base.py
  di/container/_common.py
  di/container/_container.py
  di/container/_state.py
  tests/test_base_container.py
  tests/test_container.py
Due: isort, black, flake8, mypy

refactor: remove .initialize() method from ContainerState
  di/container/_container.py
  di/container/_state.py
Due: isort, black, flake8, mypy

Path conditions:
  lockfile: any of: ^pyproject.toml|poetry.lock$, but not: ^.venv/.*
  isort: any of: \.py$, but not: ^.venv/.*
  black: any of: \.py$, but not: ^.venv/.*
  flake8: any of: \.py$, but not: ^.venv/.*
  mypy: any of: \.py$, but not: ^.venv/.*
